
*{


margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Times New Roman", Times, serif;

}

h1{
  padding-top: 100px;
  position :relative;
  left:250px;
  font-size:  32px;
}

body {
    
    background-color: lightblue;
    padding: 0 20px;
    max-width: 960px;

  }
  
 
  .wrapper {
    border-radius: 5px;
    max-width: 450px;
    margin-top:150px ;
    margin-left:250px;
    
    
  
  }


  input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('\search.png') ;
    background-size: 30px 35px;
    background-position: 160px 0px; 
    background-repeat: no-repeat;
    padding: 6px 5px 6px 20px;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }



  .button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(.5em - 1px);
    text-align: center;
    white-space: nowrap;
}

.button.is-red{

  background-color: lightcoral


}